ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

.top-heder {
  width: 1440px;
  height: 72px;
  left: 0px;
  top: 0px;
  background: #ffffff;
  border-bottom: 1px solid #e7e9fc;
}

.menu-items {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
  display: flex;
  width: 261px;
}

.menu-items:hover {
  color: #000000;
}

.menu {
  display: flex;
}

.main-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.fotter-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.contact-mail {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
}

.contact-phone {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
}

.menu-items:hover,
.menu-items:focus {
  color: #404bbf;
}

.contact-mail:hover,
.contact-mail:focus {
  color: #404bbf;
}

.button {
  position: absolute;
  width: 169px;
  height: 56px;
  left: 825px;
  top: 428px;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.button:hover {
  background-color: #404bbf;
}

.hero-txt {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.hero-beck {
  width: 1940px;
  height: 600px;
  left: 0px;
  top: 72px;
  background: navy;
}

.section-1 {
  display: flex;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
  flex: none;
  order: 0;
  flex-grow: 0;
}

ul {
  display: flex;
}

.footer {
  width: 1440px;
  height: 110px;
  left: 0px;
  top: 2280px;
  background: #2e2f42;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.footer-txt {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #e7e9fc;
}
